<div class="container-fluid text-muted p-3 small">
    <div class="align-items-center">
        <a href="#" class="float-right text-light">Back to Top</i></a>
        <ul class="list-inline m-0 p-0">
            <li class="mr-4 list-inline-item text-light">© 2019</li>
            <li class="list-inline-item text-muted d-none d-sm-inline-block "><a class="text-light" href="/">Home</a></li>
        </ul>
    </div>
</div>
