<div class="container-fluid text-muted p-3 small">
    <div class="align-items-center">
        <a href="#" class="float-right text-muted">Back to Top<i class="fas fa-angle-double-up ml-2 text-muted font-weight-bolder" data-fa-transform=""></i></a>
        <ul class="list-inline m-0 p-0">
            <li class="mr-4 list-inline-item">Jason Friedrich © 2019</li>
            <li class="list-inline-item text-muted d-none d-sm-inline-block">•&nbsp;<a class="text-muted" href="/">Home</a></li>
            <li class="list-inline-item text-muted d-none d-sm-inline-block">•&nbsp;<a class="text-muted" href="/impressum">Impressum</a></li>
            <li class="list-inline-item text-muted d-none d-sm-inline-block">•&nbsp;<a class="text-muted" href="/privacy">Privacy</a></li>
        </ul>
    </div>
</div>
