<div class="site-about col-md-4 col-lg-3" style="margin-bottom: 5rem; margin-top: 5rem;">
  <div class="column-content">
    <h6>About the blog</h6>
    <p>
      Getting started with the editor is simple, with
      familiar formatting options in a functional toolbar and
      the ability to add dynamic content seamlessly.
    </p>

    <h6>Links</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur
    </p>
    <p>
      Tincidunt dui ut ornare lectus
    </p>
    <p>
      Ante metus dictum at tempor
    </p>

  </div>
</div>
