{{!-- Default dark top navigation --}}
<nav class="flex-shrink-0 flex-grow-0 navbar navbar-expand-lg navbar-light bg-light small">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="mainNavbar">
        <ul class="navbar-nav ml-auto">
            {{^is 'index'}}
            <li class="nav-item nav-home">
                <a class="nav-link" href="/"><span class="font-weight-bolder">&larr;</span> Home</a>
            </li>
            {{/is}}
            {{#if @site.navigation}}
            {{navigation}}
            {{/if}}
        </ul>
        <ul class="navbar-nav">
            {{#if @site.facebook}}
            <li class="nav-item">
                <a class="nav-link icon facebook" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">Facebook</a>
            </li>
            {{/if}}
            {{#if @site.twitter}}
            <li class="nav-item">
                <a class="nav-link icon twitter" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter" data-fa-transform="grow-6"></i></a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link icon mastodon" href="https://mastodon.social/@jbf" title="Mastodon" target="_blank" rel="noopener"><i class="fab fa-mastodon" data-fa-transform="grow-6"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link icon rss dropdown-toggle" id="navbarDropdownLink" aria-label="Available RSS feeds" href="#" role="button" data-toggle="dropdown"><i class="fas fa-rss" data-fa-transform="grow-6"></i></a>
                <div class="dropdown-menu" id="navbarDropdown" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item small icon rss" href="{{@site.url}}/rss"><i class="fas fa-rss mr-2" data-fa-transform="grow-6"></i>RSS Feed</a>
                </div>
            </li>
            {{#if @labs.subscribers}}
            <li class="nav-item">
                <a class="nav-link" href="#subscribe">Subscribe</a>
            </li>
            {{/if}}
        </ul>
        <form class="form-inline my-0 mt-1 my-lg-0 ml-lg-2 small" method="get" action="https://google.com/cse">
            <input class="form-control" name="cx" type="hidden" value="017535604341602901961:grmyjwbjtxe">
            <input class="form-control" name="ie" type="hidden" value="UTF-8">
            <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
