{{!< default}}
<div class="container">
    <div class="row">
        <div class="post-feed col-md-8 col-lg-9" style="margin-bottom: 5rem; margin-top: 5rem;">
            <p class="tag-header mb-5">
              <a class="btn btn-light btn-sm" href="{{url}}">
                All posts for tag: <span class="text-lowercase">{{tag.name}}</span>
              </a>
            </p>
            <ul class="post-list list-unstyled">
                {{#foreach posts}}
                {{> "index-post-entry"}}
                {{/foreach}}
            </ul>
            {{#if pagination}}
            {{pagination}}
            {{/if}}
        </div>
        {{> "sidebar"}}
    </div>
</div>
